#root {
	height: 100vh;
	width: 100%;
}

.reactflow-wrapper {
	height: 100%;
}

.react-flow__renderer .react-flow__edge-path {
	stroke-width: 4px;
}

.react-flow__renderer .react-flow__edge.selected .react-flow__edge-path {
	stroke: #40a9ff;
}

.react-flow__renderer .react-flow__handle {
	width: 20px;
	height: 20px;
}

.layout-header {
	background-color: #ffffff;
	text-align: right;
}

.mr-12 {
	margin-right: 12px;
}